.breadcrumbs {
  &__item {
    display: inline-block;
    border-right: 1px solid #2f2c34;
    font-size: 0.625em;
    letter-spacing: 0.60px;
    font-weight: 700;
    &_border {
      border-right: none;
      color: #d0aa8c;
      padding-right: 0;
    }
    &_main {
      padding-right: 10px;
      margin-left: 12px;
    }
    &_events {
      padding-right: 10px;
      margin-left: 5px;
    }
  }
}

.breadcrumbs-wrapper {
  max-width: 1170px;
  border-bottom: 1px solid gray;
  margin: 0 auto;
}

.breadcrumbs-container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
