.btn {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8125em;
  text-transform: uppercase;
  color: #2f2c34;
  border: 1px solid #2f2c34;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  height: 30px;

}

.btn-book {
  margin-top: 3px;
  padding: 0 6.5%;
  margin-right: 1px;
  max-width: 185px;
}

.btn-book:hover,
.btn-tariff:hover {
  background-color: #d0aa8c;
  color: white;
  border: 1px solid #d0aa8c;
}

.btn-tariff {
  margin-top: 3px;
  color: #2f2c34;
  padding: 0 7.2%;
  max-width: 187px;
  margin-right: 4.8%;
}

.btn-more {
  border: 2px solid #2f2c34;
  margin-top: 14px;
  height: 45px;
  padding: 0 16.2%;
  margin-bottom: 42px;
}

.btn-footer {
  width: 185px;
  height: 40px;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  color: #9a9a9a;
  font-size: 1.0625em;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #9a9a9a;
}

.btn-footer:hover {
  color: white;
  border-bottom: 2px solid white;
}

.social-btn {
  margin: 0 auto;
  //text-align: center;
}

.social-btn__item {
  display: inline-block;
  margin-left: 5%;
}

.social-btn__item-insta {
  background-image: url("../img/instagram.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-insta:hover {
  background-image: url("../img/instagram-gold.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-fb {
  background-image: url("../img/facebook.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-fb:hover {
  background-image: url("../img/facebook-gold.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-google {
  background-image: url("../img/google-plus.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-google:hover {
  background-image: url("../img/google-plus-gold.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-linkedin {
  background-image: url("../img/linkedin.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

.social-btn__item-linkedin:hover {
  background-image: url("../img/linkedin-gold.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
}

