@import "background-city";

.footer {
  position: relative;
  color: white;
  &__text {
    font-size: 0.9375em;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: 400;
    line-height: 0.625em;
  }
  &__phone {
    background-color: rgba(154,154,154, 0.2);
    float: right;
    margin-top: 17px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 7px;
    max-width: 180px;
    width: 100%;
  }
}

.footer-container {
  max-width: 1165px;
  height: auto;
  vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 2;
  }


.footer-flex-container {
  display: inline-flex;
  justify-content: space-between;
  max-width: 1230px;
  width: 100%;
}

.footer-header {
  font-family: 'Romul', serif;
  margin-top: 1.8em;
  font-size: 1.1875em;
  text-align: left;
  font-weight: 400;
  margin-bottom: 15px;

}

.footer-header_position_1,
.footer-header_position_2,
.footer-header_position_3 {
  position: relative;
}

.footer-header_position_3 {
  border-right: 1px solid white;
  margin-bottom: 0;
  padding-bottom: 19px;
}

.footer-column-1 {
  max-width: 241px;
  width: 100%;
  max-height: 300px;
}

.footer-column__text-wrapper {
  border-right: 1px solid white;
  padding-top: 1em;
}

.footer-column__text-wrapper_noborder {
  border: none;
}

.footer-column-2 {
  max-width: 343px;
  width: 100%;
  padding-left: 7%;
  max-height: 300px;
}

.footer-column-3 {
  max-width: 320px;
  width: 100%;
  //border-right: 1px solid white;
  padding-left: 7%;
  max-height: 300px;
}

.footer-column-4 {
  margin-top: 21px;
  text-align: right;
  max-width: 258px;
  width: 100%;
  max-height: 300px;
}

//Tablet
@media (max-width: ($desktop + $scrollbar)) {
  .footer-column-3,
  .footer-column-2 {
    padding-left: 3%;
  }

  .footer__text {
    line-height: 1em;
  }

  .footer-header {
    font-size: 1em;
  }
}
//Portreit
@media (max-width: ($tablet + $scrollbar)) {

  .footer-column-3,
  .footer-column-2 {
    padding-left: 0;
  }

  .footer-header {
    font-size: 0.9375em;
  }
}

//Mobile
@media (max-width: ($portreit + $scrollbar)) {

  .footer {
    text-align: center;
  }

  .footer-header {
    text-align: center;
  }

  .footer-flex-container {
    display: flex;
    justify-content: space-around;
    max-width: 1230px;
    width: 100%;
    flex-wrap: wrap;
  }


  .footer-container {
    position: static;
    background: #2f2c34;
    margin: 0;
  }

  .footer-column__text-wrapper,
  .footer-header_position_3 {
    border: none;
  }

  .footer-column-1 {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
  }

  .footer-column-2 {
    max-width: 300px;
    width: 100%;
    padding-left: 0;
    max-height: 300px;
  }

  .footer-column-3 {
    max-width: 300px;
    width: 100%;
    //border-right: 1px solid white;
    padding-left: 0;
    max-height: 300px;
  }

  .footer-column-4 {
    margin-top: 21px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    max-height: 300px;
  }

  .footer__phone {
    float: left;
    margin-left: 59px;
  }
}

