.footer {
  position: relative;
  color: white;
}

.background-city {
  background-image: url("../img/background-footer.png");
  height: 338px;
  background-size: cover;
}

.background-city_black {
  background: rgba(0,0,0, 0.8);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 338px;
  width: 100%;
}

.footer-container {
  //background: @black;
  max-width: 1165px;
  height: auto;
  vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 2;
  }

//.footer-flex-container {
//  display: inline-flex;
//  justify-content: space-around;
//}

.footer-flex-container {
  display: inline-flex;
  justify-content: space-between;
  max-width: 1230px;
  width: 100%;
}




.footer-header {
  font-family: 'Romul', serif;
  margin-top: 1.8em;
  font-size: 1.1875em;
  text-align: left;
  font-weight: 400;

}

.footer-header_position_1,
.footer-header_position_2,
.footer-header_position_3 {
  position: relative;
}

.footer-header_position_3 {
  border-right: 1px solid white;
  margin-bottom: 0;
  padding-bottom: 19px;
}


.footer-column-1 {
  max-width: 241px;
  width: 100%;
  max-height: 300px;
}

.footer-column__text-wrapper {
  border-right: 1px solid white;
  padding-top: 1em;
}

.footer-column__text-wrapper_noborder {
  border: none;
}

.footer-column-2 {
  max-width: 343px;
  width: 100%;
  padding-left: 7%;
  max-height: 300px;
}

.footer-column-3 {
  max-width: 320px;
  width: 100%;
  //border-right: 1px solid white;
  padding-left: 7%;
  max-height: 300px;
}

.footer-column-4 {
  margin-top: 21px;
  text-align: right;
  max-width: 258px;
  width: 100%;
  max-height: 300px;
}

.footer__text {
  font-size: 0.9375em;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-weight: 400;
  line-height: 0.625em;
}

.decorate-line-footer {
  width: 65px;
  height: 2px;
  border: none;
  color: #d0aa8c;
  background-color: #d0aa8c;

}

.decorate-line-footer_position_car {
  position: absolute;
  top: 33px;
  left: 7px;
}

.decorate-line-footer_position_service {
  position: absolute;
  top: 33px;
  left: 12px;
}

.decorate-line-footer_position_about {
  position: absolute;
  top: 33px;
  left: 12px;
}

.footer__phone {
  background-color: rgba(154,154,154, 0.2);
  //margin-left: 28%;
  float: right;
  margin-top: 17px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 7px;
  max-width: 180px;
  width: 100%;
}

.copyright {
  margin-top: 25px;
  color: #9a9a9a;
  font-family: Montserrat;
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: ($desktop + $scrollbar)) {
  .footer-column-3,
  .footer-column-2 {
    padding-left: 3%;
  }

  .footer__text {
    line-height: 1em;
  }

  .footer-header {
    font-size: 1em;
  }
}

@media (max-width: ($tablet + $scrollbar)) {
  //@include message('Portreit');
  .footer-column-3,
  .footer-column-2 {
    padding-left: 0;
  }

  .footer-header {
    font-size: 0.9375em;
  }
  .copyright {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (max-width: ($portreit + $scrollbar)) {
  //@include message('Mobile');
  .footer {
    text-align: center;
  }
  .footer-header {
    text-align: center;
  }

  .footer-flex-container {
    display: flex;
    justify-content: space-around;
    max-width: 1230px;
    width: 100%;
    flex-wrap: wrap;
  }


  .copyright {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .background-city {
    display: none;
  }

  .background-city_black {
    display: none;
  }

  .footer-container {
    position: static;
    background: #2f2c34;
    margin: 0;
  }

  .footer-column__text-wrapper,
  .footer-header_position_3 {
    border: none;
  }

  .footer-column-1 {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
  }

  .footer-column-2 {
    max-width: 300px;
    width: 100%;
    padding-left: 0;
    max-height: 300px;
  }

  .footer-column-3 {
    max-width: 300px;
    width: 100%;
    //border-right: 1px solid white;
    padding-left: 0;
    max-height: 300px;
  }

  .footer-column-4 {
    margin-top: 21px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    max-height: 300px;
  }

  .footer__phone {
    float: left;
    margin-left: 59px;
  }

  .decorate-line-footer_position_car {
    position: absolute;
    top: 33px;
    left: 116px;
  }

  .decorate-line-footer_position_service {
    position: absolute;
    top: 33px;
    left: 116px;
  }

  .decorate-line-footer_position_about {
    position: absolute;
    top: 33px;
    left: 120px;
  }


}

