.hotline__number,
.phone-messenger__number {
  font-size: 1.0625em;
  font-weight: 500;
  letter-spacing: 1px;
}

.hotline__text,
.phone-messenger__text {
  font-size: 0.625em;
  font-family: 'Montserrat', sans-serif;
  color: #d0aa8c;
  font-weight: 700;
  letter-spacing: 0.63px;
  padding-left: 1.3%;
}


.header-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.header__phone
{
  background-color: white;
  border-top: 1px solid #2f2c34;
  margin-top: 26px;
  padding-top: 27px;
  margin-left: 1.3%;
  padding-left: 1.1%;
  padding-bottom: 12px;
  width: 44.4%;
  line-height: 0.85em;
}

.header__book {
  background-color: white;
  border-top: 1px solid #2f2c34;
  margin-top: 26px;
  padding-top: 25px;
  margin-right: 1.3%;
  padding-right: 1.1%;
  padding-bottom: 25px;
  width: 44.4%;
}

.header__phone {
  display: inline-flex;
  justify-content: flex-start;
}

.header__book {
  display: inline-flex;
  justify-content: flex-end;
}

.phone-messenger_header_position {
  position: relative;
  margin-left: 14.5%;
}

.phone-messenger_footer_position {
  line-height: 6px;
  padding-top: 5px;
}

.hotline{
  position: relative;
}

.hotline_footer_position {
  line-height: 6px;
}

.decorate-line {
  width: 25.1613%;
  height: 1px;
  border: none;
  color: #d0aa8c;
  background-color: #d0aa8c;
}

.decorate-line_hotline {
  position: absolute;
  top: 31px;
  right: -1px;
  margin: 0;
}

.decorate-line_messenger {
  width: 24%;
  position: absolute;
  top: 29px;
  right: 0;
  margin: 0;
}

.header {
  position: relative;
}

.header-logo {
  max-width: 213px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 50%;
  right: 50%;
  bottom: 0;
  margin-left: -106px;
}


.hotline__number_color_white,
.phone-messenger__number_color_white,
.hotline__text_color_white,
.phone-messenger__text_color_white {
  color: #9a9a9a;
}

.hotline__number_color_white:hover,
.phone-messenger__number_color_white:hover{
  color: white;
}

.phone-messenger__text_color_white,
.hotline__text_color_white {
  font-size: 0.625em;
  font-weight: 400;
}

@media (max-width: ($desktop + $scrollbar)) {
  .header-logo {
    max-width: 142px;
    width: 100%;
    position: absolute;
    top: 34px;
    left: 50%;
    right: 50%;
    bottom: 0;
    margin-left: -71px;
  }
}

@media (max-width: ($tablet + $scrollbar)) {
//@include message('Portreit');
   .header-logo {
     display: block;
     position: static;
     margin: 0 auto;
   }

  .header-wrapper{
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  .header__phone,
  .header__book {
    width: 100%;
    max-width: 410px;
    justify-content: space-around;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .header__phone {
    padding-top: 23.5px;
  }
 }


@media (max-width: ($portreit + $scrollbar)) {
  //@include message('Mobile');
  .decorate-line {
    display: none;
  }

  .hotline__number,
  .phone-messenger__number {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -0.3px;
  }


}

