@import "media";

body {
  font-family: sans-serif;
  text-transform: uppercase;
  overflow-x: hidden;

}
.container {
  //width: 800px;
  margin: 0 auto;
  //padding: 20px;
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Romul";
  src: url("../fonts/romul.ttf");
}

p {
  font-family: "Romul", serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #2f2c34;
}

h2 {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}


@media (min-width:($desktop + $scrollbar)) {
  body {
    //background: url("../img/pegasus-pixel-perfect.png") no-repeat;
    //opacity: 0.5;
  }
}

img {
  max-width: 100%;
}

