.social-btn {
  margin: 0 auto;
  &__item {
    display: inline-block;
    margin-left: 5%;
  }
  &__item-insta {
    background-image: url("../img/instagram.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    &:hover {
      background-image: url("../img/instagram-gold.svg");
      background-size: cover;
      width: 28px;
      height: 28px;
    }
  }
  &__item-fb {
    background-image: url("../img/facebook.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    &:hover {
      background-image: url("../img/facebook-gold.svg");
      background-size: cover;
      width: 28px;
      height: 28px;
    }
  }
  &__item-google {
    background-image: url("../img/google-plus.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    &:hover {
      background-image: url("../img/google-plus-gold.svg");
      background-size: cover;
      width: 28px;
      height: 28px;
    }
  }
  &__item-linkedin {
    background-image: url("../img/linkedin.svg");
    background-size: cover;
    width: 28px;
    height: 28px;
    &:hover {
      background-image: url("../img/linkedin-gold.svg");
      background-size: cover;
      width: 28px;
      height: 28px;
    }
  }
}