.tours-container {
  max-width: 735px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.tours-description__header {
  margin: 0;
  color: #2f2c34;
  padding-top: 28px;
  font-size: 1.0625em;
  letter-spacing: 1px;
}

.tours-description__header-tours {
  font-family: 'Romul', serif;
  font-size: 2.2353em;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 4px;
}


.decorate-line-tours {
  width: 11%;
  height: 2px;
  border: none;
  color: #d0aa8c;
  background-color: #d0aa8c;
}

.decorate-line-tours_before {
  position: absolute;
  top: 65px;
  left: 137px;
}

.decorate-line-tours_after{
  position: absolute;
  top: 65px;
  right: 137px;
}

.tours-description__text {
  color: #343434;
  font-family: Montserrat;
  font-size: 0.8125em;
  text-transform: none;
  margin: 0;
  padding-top: 27px;
  line-height: 16.67px;
  letter-spacing: 0.75px;
}

.tours-description__text_bottom {
  padding-top: 17px;
}

.wrapper {
  background-color: white;
}


@media (max-width: ($tablet + $scrollbar)) {
  //@include message('Portreit');

  .decorate-line-tours_before  {
    position: absolute;
    top: 65px;
    left: 109px;
  }

  .decorate-line-tours_after {
    position: absolute;
    top: 65px;
    right: 109px;
  }
}

@media (max-width: ($portreit + $scrollbar)) {

  .decorate-line-tours {
    display: none;
  }
}
