<section class="breadcrumbs">
    <h2>breadcrumbs</h2>
    <div class="breadcrumbs-wrapper">
        <div class="breadcrumbs-container">
        <p class="breadcrumbs__item breadcrumbs__item_main">Главная</p>
        <p class="breadcrumbs__item breadcrumbs__item_events">События</p>
        <p class="breadcrumbs__item breadcrumbs__item_border">Экскурсии</p>
        </div>
    </div>
</section>