<button class="btn">
    <span class="btn__text">Подробнее</span>
    <span class="btn__text btn__text_tariff">Узнать тариф</span>
    <span class="btn__text btn__text_book">Сделать заказ</span>
</button>
