<footer class="footer">
    <div class="background-city"></div>
    <div class="background-city_black"></div>
    <div class="footer-container">
      <div class="footer-flex-container">

        <div class="footer-column-1">
            <h3 class="footer-header footer-header_position_1">Наши машины<hr class="decorate-line-footer decorate-line-footer_position_car"/></h3>

            <div class="footer-column__text-wrapper">
            <p class="footer__text">Mercedes S-Class</p>
            <p class="footer__text">Mercedes V-Class</p>
            <p class="footer__text">Mercedes E-Class</p>
            <p class="footer__text">Rolls-Royce Ghost</p>
            <p class="footer__text">Rolls-Royce Phantom</p>
            <p class="footer__text">Bentley Mulsanne</p>
            </div>
        </div>

        <div class="footer-column-2">
            <h3 class="footer-header footer-header_position_2">Наш сервис<hr class="decorate-line-footer decorate-line-footer_position_service"/></h3>

            <div class="footer-column__text-wrapper">
            <p class="footer__text">Корпоративное такси</p>
            <p class="footer__text">Личный водитель</p>
            <p class="footer__text">Бизнес встречи</p>
            <p class="footer__text">Аэропорты</p>
            <p class="footer__text">События</p>
            <p class="footer__text">Экскурсии</p>
            </div>
        </div>

        <div class="footer-column-3">
            <h3 class="footer-header">О нас</h3>
            <p class="footer__text">Правила и условия</p>
            <p class="footer__text">О нас</p>
            <p class="footer__text">Аэропорты</p>
            <p class="footer__text">Контакты</p>
            <p class="footer__text">Блог</p>
            <p class="footer__text">Автопарк</p>

        </div>
        <div class="footer-column-4">
            <button class="btn btn-footer" >
                <span class="btn__text ">Сделать заказ</span>
            </button>
            <button class="btn  btn-footer">
                <span class="btn__text">Узнать тариф</span>
            </button>
        </div>

        </div>
    </div>

</footer>