<footer class="footer">
    <div class="background-city"></div>
    <div class="background-city_black"></div>
    <div class="footer-container">
        <div class="footer-flex-container">
            <div class="footer-column-1">
                <div class="footer-header footer-header_position_1">Наши машины<hr class="decorate-line-footer decorate-line-footer_position_car"/></div>
                <div class="footer-column__text-wrapper">
                    <p class="footer__text">Mercedes S-Class</p>
                    <p class="footer__text">Mercedes V-Class</p>
                    <p class="footer__text">Mercedes E-Class</p>
                    <p class="footer__text">Rolls-Royce Ghost</p>
                    <p class="footer__text">Rolls-Royce Phantom</p>
                    <p class="footer__text">Bentley Mulsanne</p>
                </div>
            </div>
            <div class="footer-column-2">
                <div class="footer-header footer-header_position_2">Наш сервис<hr class="decorate-line-footer decorate-line-footer_position_service"/></div>
                <div class="footer-column__text-wrapper">
                    <p class="footer__text">Корпоративное такси</p>
                    <p class="footer__text">Личный водитель</p>
                    <p class="footer__text">Бизнес встречи</p>
                    <p class="footer__text">Аэропорты</p>
                    <p class="footer__text">События</p>
                    <p class="footer__text">Экскурсии</p>
                </div>
            </div>
            <div class="footer-column-3">
                <div class="footer-header footer-header_position_3">О нас<hr class="decorate-line-footer decorate-line-footer_position_about"/></div>
                <div class="footer-column__text-wrapper">
                    <p class="footer__text">Правила и условия</p>
                    <p class="footer__text">О нас</p>
                    <p class="footer__text">Аэропорты</p>
                    <p class="footer__text">Контакты</p>
                    <p class="footer__text">Блог</p>
                    <p class="footer__text">Автопарк</p>
                </div>
            </div>
            <div class="footer-column-4">
                <button class="btn btn-footer" >
                    <span class="btn__text ">Сделать заказ</span>
                </button>
                <button class="btn  btn-footer">
                    <span class="btn__text">Узнать тариф</span>
                </button>
                <div class="footer__phone">
                    <div class="hotline hotline_footer_position">
                        <a href="tel:+442077198816" class="hotline__number hotline__number_color_white">+44 20 7719 8816</a>
                        <p class="hotline__text hotline__text_color_white">Круглосуточно</p>
                    </div>
                    <div class="phone-messenger phone-messenger_footer_position">
                        <a href="tel:+447771007676" class="phone-messenger__number phone-messenger__number_footer phone-messenger__number_color_white">+44 777 100 7676</a>
                        <p class="phone-messenger__text phone-messenger__text_color_white">Viber & WhatsApp</p>
                    </div>
                    <div class="social-btn">
                        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                        <a href="https://www.facebook.com" class="fab fa-facebook"></a>
                        <a href="https://accounts.google.com" class="fab fa-google-plus-square"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                        <!--<a href="https://www.instagram.com" class="social-btn__item social-btn__item-insta"></a>-->
                        <!--<a href="https://www.facebook.com" class="social-btn__item social-btn__item-fb"></a>-->
                        <!--<a href="https://accounts.google.com" class="social-btn__item social-btn__item-google"></a>-->
                        <!--<a href="#"class="social-btn__item social-btn__item-linkedin"></a>-->
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">2010-2018 &copy;Pegasus Luxury Services Ltd. Company Number:08104782. PCO-Operator Licence:0086810101. All rights reserved.</p>
    </div>
</footer>
