<header class="header">
    <picture class="header-logo">
      <source srcset="../img/logo_pegasus.png 1x, ../img/retina/logo_pegasus@2x.png 2x">
      <img src="../img/logo_pegasus.png" alt="logo">
    </picture>
    <div class="wrapper header-wrapper">
        <div class="header__phone">
            <div class="hotline">
                <a href="tel:+442077198816" class="hotline__number">+44 20 7719 8816</a>
                <p class="hotline__text">Круглосуточно</p>
                <hr class="decorate-line decorate-line_hotline"/>
            </div>
            <div class="phone-messenger phone-messenger_header_position">
                <a href="tel:+447771007676" class="phone-messenger__number">+44 777 100 7676</a>
                <p class="phone-messenger__text">Viber & WhatsApp</p>
                <hr class="decorate-line decorate-line_messenger"/>
            </div>
        </div>
        <div class="header__book">
            <button class="btn  btn-tariff">
                <span class="btn__text">Узнать тариф</span>
            </button>
            <button class="btn btn-book" >
                <span class="btn__text ">Сделать заказ</span>
            </button>
        </div>
    </div>
</header>