<section class="page-menu">
    <h2>Main-menu</h2>
    <div class="wrapper-nav">
        <div class="container-burger">
            <input id="toggle" type="checkbox">
            <label class="toggle-container" for="toggle">
                <span class="button button-toggle"></span>
            </label>
            <nav class="nav">
                <a class="nav-item" href="">Главная</a>
                <a class="nav-item" href="">Услуги</a>
                <a class="nav-item" href="">Автопарк</a>
                <a class="nav-item" href="">События</a>
                <a class="nav-item" href="">О нас</a>
                <a class="nav-item" href="">Контакты</a>
            </nav>
        </div>
        <nav class="menu">
            <a href="#" class="menu__item menu__item-1">
                <p class="menu__item-text menu__item-text-1">Главная</p>
            </a>
            <a href="#" class="menu__item">
                <p class="menu__item-text">Услуги</p>
            </a>
            <a href="#" class="menu__item menu__item-3">
                <p class="menu__item-text">Автопарк</p>
            </a>
            <a href="#" class="menu__item menu__item-4"
            ><p class="menu__item-text">События</p>
            </a>
            <a href="#" class="menu__item menu__item-5">
                <p class="menu__item-text">О нас</p>
            </a>
            <a href="#" class="menu__item menu__item-6">
                <p class="menu__item-text menu__item-text_border">Контакты</p>
            </a>
        </nav>
    </div>
</section>