<section class="page-menu">
    <h2>Main-menu</h2>
    <div class="wrapper-nav">
        <nav class="menu">
            <a href="#" class="menu__item menu__item-1">
                <p class="menu__item-text menu__item-text-1">Главная</p>
            </a>
            <a href="#" class="menu__item">
                <p class="menu__item-text">Услуги</p>
            </a>
            <a href="#" class="menu__item menu__item-3">
                <p class="menu__item-text">Автопарк</p>
            </a>
            <a href="#" class="menu__item menu__item-4"
            ><p class="menu__item-text">События</p>
            </a>
            <a href="#" class="menu__item menu__item-5">
                <p class="menu__item-text">О нас</p>
            </a>
            <a href="#" class="menu__item menu__item-6">
                <p class="menu__item-text menu__item-text_border">Контакты</p>
            </a>
        </nav>
    </div>
</section>