<section class="tours">
    <h2>Tours</h2>
    <div class="wrapper">
        <div class="tours-wrap">
            <div class="tour-container">
                <picture class="tours-image">
                    <source srcset="../minified/images/towers.png 1x, ../minified/images/retina/towers@2x.png 2x">
                    <img src="../minified/images/towers.png" alt="towers">
                </picture>
                <p class="tour-title">elevate you experience</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
            <div class="tour-container">
                <picture class="tours-image">
                    <source srcset="../minified/images/plain.png 1x, ../minified/images/retina/plain@2x.png 2x">
                    <img src="../minified/images/plain.png" alt="plain">
                </picture>
                <p class="tour-title">FARNBOROUGH Airshow 2018</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
            <div class="tour-container">
                <a href="#">
                <picture class="tours-image">
                    <source srcset="../minified/images/sea.png 1x, ../minified/images/retina/sea@2x.png 2x">
                    <img src="../minified/images/sea.png" alt="sea">
                </picture>
                </a>
                <p class="tour-title">regatta in england</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
            <div class="tour-container">
                <a href="#">
                <picture class="tours-image">
                    <source srcset="../minified/images/car.png 1x, ../minified/images/retina/car@2x.png 2x">
                    <img src="../minified/images/car.png" alt="car">
                </picture>
                    </a>
                <p class="tour-title">silverstone</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
            <div class="tour-container">
                <a href="#">
                <picture class="tours-image">
                    <source srcset="../minified/images/game.png 1x, ../minified/images/retina/game@2x.png 2x">
                    <img src="../minified/images/game.png" alt="game">
                </picture>
                </a>
                <p class="tour-title">wimbledon</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
            <div class="tour-container">
                <a href="#">
                <picture class="tours-image">
                    <source srcset="../minified/images/mercedes.png 1x, ../minified/images/retina/mercedes@2x.png 2x">
                    <img src="../minified/images/mercedes.png" alt="mercedes">
                </picture>
                </a>
                <p class="tour-title">Lorem ipsum</p>
                <hr class="decorate-line-tour"/>
                <p class="tour__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="tour__text tour__text_second">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <button class="btn btn-more">
                    <span class="btn__text ">Подробнее</span>
                </button>
            </div>
        </div>
    </div>
</section>