<section class="tours-description">
    <h2>Tours description</h2>
    <div class="wrapper">
        <div class="tours-container">
            <p class="tours-description__header">Pegasus luxury services</p>
            <div>
                <hr class="decorate-line-tours decorate-line-tours_before"/>
                <p class="tours-description__header-tours">Экскурсии</p>
                <hr class="decorate-line-tours decorate-line-tours_after"/>
            </div>
            <div>
                <p class="tours-description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <p class="tours-description__text tours-description__text_bottom">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.</p>
            </div>
        </div>
    </div>
</section>